body{
	padding: 0 10px;
}
.nav-link:hover{
	background-color: #b59879;
	background: active
}
.up{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 50px;
	padding-right: 50px;
	background: #F8F9FA;
}
.phone-phone{
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: rgba(0, 0, 0, 0.8);
}
.phone-right{
	display: flex;
	flex-direction: row;
}
.left-up{
	display: flex;
	flex-direction: row;
}
.icons{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}
.poisk{
	display: flex;
	padding-top: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 120px;
	padding-right: 130px;
	align-items: center;
	background: #fff;
}
.logog{
	margin-bottom: 20px;
}
.logo-i{
	margin-bottom: 20px;
	padding: 10px;
	font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: rgba(0, 0, 0, 0.8);
}
li{
	padding-right: 20px;
}
.melburn{
	padding-top: 17px;
	padding-bottom: 10px;
	transition: all 0.7s ease;
	cursor: pointer;
	font-style: normal;
    font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #000000;
}
.melburn:hover{
	color: #B8AA83;
	transition: all 0.7s ease;
}
#navbar{
  position: sticky;
  top: 0px;
  z-index:1
}
.navigator{
	background: url(./img/dub.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100px;
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
}
.navigator-text{
	padding-top: 15px;
}
.indexp{
	text-decoration: none;
	color: #fff;
	transition: all 0.5s ease;
}
.indexp:hover{
	color: #B8AA83;
	transition: all 0.5s ease;
}
.services-section{
	margin-top: 100px;
}
.service-title{
	padding-bottom: 10px;
}
.service-text{
	padding-bottom: 10px;
}
.service-read:hover{
	transition: all 0.5s ease;
	color: #B8AA83;
}
.service-read{
	transition: all 0.5s ease;
	font-weight: 900;
}
.media{
	text-align: left;
}
.services{
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.service{
	width: 45%;
	margin-bottom: 20px;
}
.service-img{
	width: 100% !important;
}
.img{
	width: 100% !important;
}
.faces{
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left:100px;
	margin-right: 100px;
	align-items: center;
}
.face{
	margin-bottom: 50px;
}
.face-img{
	width: 250px;
}
.img{
	width: 250px;
}
.face-bottom{
	text-align: center;
	padding-top: 10px;
	background: #ccc;
}
.face-text{
	padding-bottom: 10px;
}
.buddy{
	text-align: center;
}
.floors{
	text-align: center;
	margin-top: -60px;
	opacity: 0.1;
	font-size: 50px;
	margin-bottom: 50px;
}
.prices{
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left:100px;
	margin-right: 100px;
	align-items: center;
}
.price{
	width: 300px;
	background: #F7F7F7;
	border-radius: 10px;
	margin-bottom: 20px;
}
.price-top{
	padding: 20px;
	background: #F7F7F7;
	border-radius: 10px;
	transition: all 0.5s ease;
}
.price-top:hover{
	background: #B8AA83;
	color: #fff;
	transition: all 0.5s ease;
}
.price-img{
	width: 300px;
	padding-bottom: 30px;
}
.heros{
	text-align: center;
	padding-bottom: 0px;
	font-size: 16px;
}
.price-title{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.price-button{
	margin-bottom: 20px;
	background: transparent;
	border: 1px solid #ccc;
	outline: none;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 17px;
	transition: all 0.5s ease;
	border-radius: 5px;
}
.price-button:hover{
	background: #B8AA83;
	color: #fff;
	transition: all 0.5s ease;
}
.price-price{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
.explain{
	background: #B8AA83;
  }
  .explains{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
  }
  .exp-title{
	color: #fff;
	font-size: 23px;
	margin-top: 30px;
	margin-bottom: 20px;
  }
  .exp-button{
	margin-top: 20px;
	border: 1px solid #fff;
	outline: none;
	color: #fff;
	background: transparent;
	padding: 10px 10px;
	transition: all 0.5s;
	margin-bottom: 20px;
  }
  .exp-button:hover{
	background: #81724a;
	transition: all 0.5s;
  }
  footer{
	height: 100px;
  }
  .all-footer{
	display: flex;
	justify-content: space-between;
  }
  .left-title{
	margin-top: 50px;
	color: #fff;
  }
  .left-text{
	margin-top: 10px;
	color: #fff;
	padding-bottom: 20px;
  }
  .btn-1{
	width: 100px;
	background: transparent;
	border:  1px solid #ccc;
	outline: none;
	color: #ccc;
	padding: 10px 10px;
	margin-bottom: 10px;
	transition: all 0.7s ease;
  }
  .btn-1:hover{
	background: #B8AA83;
	color: #fff;
	transition: all 0.7s ease;
  }
  .btn-2{
	width: 120px;
	background: transparent;
	border:  1px solid #ccc;
	outline: none;
	color: #ccc;
	padding: 10px 10px;
	margin-bottom: 80px;
	transition: all 0.7s ease;
  }
  .btn-2:hover{
	background: #B8AA83;
	color: #fff;
	transition: all 0.7s ease;
  }

  @media(max-width: 530px){
	  .service{
		  width: 90%;
	  }
  }
 
/* @media (min-width: 320px) and (max-width: 480px) {
footer{
    width: 100%;
    height: 55px;
	}
	.phone-right{
		display: none;
	}
	.icons{
		margin-bottom: 10px;
	}
}
@media (min-width: 390px) and (max-width: 480px){
	.left-up{
		margin-right: 20px;
	}
}
@media (min-width: 320px) and (max-width: 410px){
	.service-img{
		width: 280px;
	}
	.img{
		width: 280px;
	}
	.media{
		width: 280px;
	}
	.faces{
		margin-left: 90px;
	}
}
@media (min-width: 435px) and (max-width: 540px) {
	.logog{
		margin-right: 70px;
		margin-left: 20px;
		text-align: center;
	}
}
@media (min-width: 566px) and (max-width: 670px) {
	.logo-i{
		margin-right: 50px;
	}
	.logog{
		margin-bottom: 10px;
	}
} */